<div class="bg"></div>
<div class="top">
  <mat-card>
    <div class="img-center" layout-align="center center">
      <img mat-card-md-image src="../../assets/spot.png"/>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input type="text" matInput >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput >
    </mat-form-field>
    <button mat-raised-button color="primary" class="left" (click)="setpst()">Login</button>
    <button mat-raised-button color="primary" class="right">Create Account</button>
  </mat-card>
</div>


